
:root{
--spacecadet:rgb(43, 45, 66);
--spacecadet-50:rgb(86, 90, 132);
--spacecadet-200:rgb(22, 22, 33);
--Coolgray:#8D99AE;
--antiflashwhite:#EDF2F4;
--pantone:#EF233C;


}
body{
    font-family: 'inter';
}
.container {
    padding-top: 16px;
    display: flex;
    border: solid black 2px;
    width:fit-content;
    height:max-content;
    border-radius: 4px;
    flex-direction: column;
    background-color: var(--spacecadet-200);
    font-family: 'inter';
}
.banner {
    background-color:var(--pantone);
    justify-content: center;
    border:solid, black, 1px;
    width:auto;
    height: fit-content;
    margin: 10px;
    margin-left: 300px;
    border-radius: 20px;
    background-image: image();
}
.h1{
    justify-self: center;
}
.button {
    display:flex;
    justify-self: flex-end;
    margin: 10px;
}
.listing {
    margin-left: 300px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box{
    background-color:var(--Coolgray);
    margin-bottom: 4px;
    display:flex;
    height:200px;
    width:200px;
    border:solid black 2px;
    justify-content:center;
    align-items: center;
    border-radius: 20px;
    padding: 2px;
}
.filter{
    background-color:var(--spacecadet);
    margin:16px;
    border: solid black 2px;
    position:absolute;
    width:250px;
}
.navbar{
    
    display:grid;
    width:99%;
    background-color: var(--antiflashwhite);
    border:solid black 2px;
    position:fixed;
    z-index: 1;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.foot{
    display:grid;
    background-color: var(--Coolgray);
    width:100%;
}