.canvas{
    color: #131112;
    display:flex;
    align-self:center;
    border:solid black 2px;
    background-color: #F7F7FF;
    width: 70%;
    height:fit-content;
    margin:2px;
    margin-top: 12rem;
    padding: 32px;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.canvas2{
    color: #131112;
    display:flex;
    align-self:center;
    border:solid black 2px;
    background-color: #F7F7FF;
    width: 70%;
    height:fit-content;
    margin:2px;
    padding: 32px;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#bio{
    scroll-margin-top: 220px;
}
#contact{
    scroll-margin-top: 200px;
}